<!--
    Author: Christian Apostoli
    Blazor Link: https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/intro
    Azure Link:  https://devblogs.microsoft.com/aspnet/azure-static-web-apps-with-blazor/
    IPO:         https://sites.google.com/site/profvanselow/programming/languages/c_1/blazor 
-->
@page "/"

<h1>Hello, world!</h1>

Hi, My name is Christian Apostoli and I am from Estero, FL. I am a student at<br>
Florida Gulf Coast University majoring in Software Engineering and I am aspiring<br>
to be a Software Engineer in the Aerospace industry. I currently intern at LTC<br>
Global where I work with Oracle SQL and Python to create database programs to <br> 
process half a million dollars in insurance commission data every week and pay<br>
out insurance agents. In my free time I like to exercise, read popular science<br>
books, and practice my programming skills on websites like HackerRank. One of <br>
my favorite books is "Astrophysics for People in a Hurry" by Neil deGrasse Tyson. <br>

<SurveyPrompt Title="How is Blazor working for you?" />
