@page "/"

<h1>Hello, world!</h1>

Hi, My name is Christian Apostoli and I am from Estero, FL. 
I am a student at Florida Gulf Coast University majoring in Software Engineering 
and I am aspiring to be a Software Engineer in the Aerospace industry. I currently
intern at LTC Global where I work with Oracle SQL and Python to create database 
programs to process half a million dollars in insurance commission data every week
and pay out insurance agents. In my free time I like to exercise, read popular 
science books, and practice my programming skills on websites like HackerRank. 
One of my favorite books is "Astrophysics for People in a Hurry" by Neil deGrasse Tyson. 

<SurveyPrompt Title="How is Blazor working for you?" />
