@page "/"

<h1>Hello, world!</h1>

Hi, My name is Christian Apostoli and I am from Estero, FL. <br>
I am a student at Florida Gulf Coast University majoring in Software Engineering <br>
and I am aspiring to be a Software Engineer in the Aerospace industry. I currently <br>
intern at LTC Global where I work with Oracle SQL and Python to create database <br>
programs to process half a million dollars in insurance commission data every week <br>
and pay out insurance agents. In my free time I like to exercise, read popular <br>
science books, and practice my programming skills on websites like HackerRank. <br>
One of my favorite books is "Astrophysics for People in a Hurry" by Neil deGrasse Tyson. <br>

<SurveyPrompt Title="How is Blazor working for you?" />
