@page "/ipo"

<h1>IPO</h1>

<p>Input prompt: </p>

<input @bind="InputString "/>

<button class="btn btn-primary" @onclick="DoProcessing">Do it</button>

<p>Output: @OutputString </p>
<p>Your output was @length characters long</p>

@code

{

    private string InputString { get; set; }

    private string OutputString { get; set; }

    private int length { get; set; }

    private void DoProcessing()

    {
      

        OutputString = InputString;

        length = OutputString.Length;

    }

}